body {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
}
.cover {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}
.box2 {
    background-color: hsl(184, 100%, 22%);
}
.box3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}
.box1, .box2, .box3 {
    padding: 5%;
}
button {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5% 10%;
    margin-top: 40px;
    border: 1.5px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 20px;
    cursor: pointer;
}
.box1 > button {
    color: hsl(31, 77%, 52%);
}
.box2 > button {
    color: hsl(184, 100%, 22%);
}
.box3 > button {
    color: hsl(179, 100%, 13%);
}
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
}

@media screen and (max-width: 992px) {
   
}

@media only screen and (max-width: 719px) {
    .cover {
        display: flex;
        flex-wrap: wrap;
    }
    .box1 {
        border-radius: 10px 10px 0 0;
    }
    .box3 {
        border-radius: 0 0 10px 10px;
    }
}